/* Global */

html, body{
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
background: url("https://www.toptal.com/designers/subtlepatterns/patterns/white_wall2.png");
}

/* Header */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: underline;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

main a {
font-weight: 700;
text-decoration: underline;
}

/* Main Area */

hr{
border-bottom: 3px solid #D7BDE2;
}

.collapse:not(.show){
display: inline;
}

.about_me, h3{
font-family: 'Georgia', Times, 'Times New Roman', serif;
color: #D7BDE2;
font-size: 26px;
font-weight: bold;
}

.main {
background-color: #fff;
border: 1px solid #D7BDE2;
margin-bottom: 15%;
}

p{
font-size: 17px;
line-height: 32px;
}

/*Portfolio*/

.group{
margin: 0;
padding: 0;
position: relative;
margin-bottom: 5%;
}

.img_text{
height: 30%;
width: 280px;
font-family: Georgia, 'Times New Roman', Times, serif;
color: #ffffff;
text-align: center;
background-color: #4aaaa5;
padding-top: 3%;
position: absolute;
top: 60%;
}

/*Contact*/

.btn {
padding: 8px 25px 8px 25px;
text-align: center;
font-size: 17px;
color: #ffffff;
background-color: #4aaaa5;
border-bottom: 2px solid #dddddd;
}

form {
padding-right: 15px;
/* Fixed small sizing issue on the right */
}

form label {
display: block;
padding: 15px;
}

form input,
form textarea {
padding: 15px;
width: 100%;
margin-bottom: 20px;
}

form textarea {
height: 160px;
padding: 15px;
}

.item-double {
padding: 15px;
}

/* Footer */

.fixed-bottom {
border-top: 8px solid #D7BDE2;
background-color: #666666;
text-align: center;
font-size: 12px;
color:#dddddd;
width: 100%;
height: 60px;
margin-top: 60px;
}

#footer{
padding-top: 1.2%;
}

/* Media Query */

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {

.container{
margin: 0;
padding: 0;
}

ul.navbar-nav{
display: flex;
justify-content: center;
align-items: center;
}

.navbar-brand {
flex: 100%;
margin: 0;
}

.navbar-nav .nav-link {
padding-right: 10px;
padding-left: 5px;
}

.img_responsive{
display: flex;
justify-content: center;
margin-right: 7%;
}

p{
margin-top: 5%;
}
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {

ul.navbar-nav{
display: flex;
justify-content: center;
align-items: center;
}

.navbar-brand {
margin: auto;
}

.navbar-nav .nav-link {
padding-right: 10px !important;
padding-left: 5px !important;
}

.img_responsive{
display: flex;
justify-content: center;
margin-right: 5%;
}
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
.container{
max-width: 960px;
}
}


/* for sidebar*/
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
